@mixin font-face($font-name, $font-path, $font-weight: normal, $font-style: normal) {
  @font-face {
    font-family: '#{$font-name}';
    src: url('fonts/#{$font-name}.eot?#iefix') format('embedded-opentype'),
    url('fonts/#{$font-path}.woff') format('woff'),
    url('fonts/#{$font-path}.eot') format('eot'),
    url('fonts/#{$font-path}.ttf') format('ttf');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

@include font-face('PPRadioGrotesk-Regular', 'PPRadioGrotesk-Regular');

$headlineFont: 'PPRadioGrotesk-Regular',
sans-serif;