@import "variables";
@import url("https://p.typekit.net/p.css?s=1&k=aos8uzp&ht=tk&f=10890.10891.10892.10893.10896.10897&a=5216154&app=typekit&e=css");

@font-face {
  font-family: "pragmatica";
  src: url("https://use.typekit.net/af/c9f384/0000000000000000000100ca/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/c9f384/0000000000000000000100ca/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/c9f384/0000000000000000000100ca/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "pragmatica";
  src: url("https://use.typekit.net/af/4dd308/0000000000000000000100cb/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/4dd308/0000000000000000000100cb/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/4dd308/0000000000000000000100cb/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
      format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "pragmatica";
  src: url("https://use.typekit.net/af/983872/0000000000000000000100cc/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/983872/0000000000000000000100cc/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/983872/0000000000000000000100cc/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "pragmatica";
  src: url("https://use.typekit.net/af/a362cc/0000000000000000000100cd/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/a362cc/0000000000000000000100cd/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/a362cc/0000000000000000000100cd/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
      format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "pragmatica";
  src: url("https://use.typekit.net/af/ee2748/0000000000000000000100d0/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/ee2748/0000000000000000000100d0/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("woff"),
    url("https://use.typekit.net/af/ee2748/0000000000000000000100d0/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "pragmatica";
  src: url("https://use.typekit.net/af/86eeb6/0000000000000000000100d1/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/86eeb6/0000000000000000000100d1/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3")
      format("woff"),
    url("https://use.typekit.net/af/86eeb6/0000000000000000000100d1/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3")
      format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
}

.tk-pragmatica {
  font-family: "pragmatica", sans-serif;
}
@mixin font-face(
  $font-name,
  $font-path,
  $font-weight: normal,
  $font-style: normal
) {
  @font-face {
    font-family: "#{$font-name}";
    src: url("../fonts/#{$font-name}.eot?#iefix") format("embedded-opentype"),
      url("../fonts/#{$font-path}.woff") format("woff"),
      url("../fonts/#{$font-path}.eot") format("eot"),
      url("../fonts/#{$font-path}.ttf") format("ttf");
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
  }
}

@include font-face("PPRadioGrotesk-Regular", "PPRadioGrotesk-Regular");

/*	-----------------------------------------------------------------------------
  PAGE
--------------------------------------------------------------------------------- */

main {
  #intro {
    padding-top: 0;
    @media #{$s750} {
      width: 100%;
    }
    .row {
      justify-content: center;
      padding: #{$spacer / 1.5};
      align-items: center;
      @media #{$s750} {
        flex-wrap: wrap;
        padding: $mobile-gutter 0;
      }
      .col {
        height: 3.5vw;
        max-width: 12vw;
        margin: 0 1.5rem;
        @media #{$s750} {
          height: 8vw;
          margin: 1rem;
          max-width: 100%;
          width: calc(100% / 3 - 2rem);
        }
        img {
          width: auto;
          height: 100%;
          @media #{$s750} {
            width: 100%;
          }
        }
      }
    }
  }

  #who-we-are {
    border-top: 1px solid $color-blue-1;
    .container {
      h2 {
        width: 57vw;
        @media #{$s750} {
          width: 100%;
        }
      }
      .row {
        justify-content: space-between;
        margin-top: 4rem;
        @media #{$s750} {
          margin-top: 1rem;
          flex-wrap: wrap;
        }
        .col {
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.06);
          width: calc(100% / 4 - 1.5rem);
          text-align: center;
          padding: 2.5rem 0;
          border-radius: 15px;
          @media #{$s750} {
            width: calc(100% / 2 - 0.5rem);
            margin: 1rem 0 0;
          }
          h3 {
            font-size: 4.167vw;
            color: $color-blue-2;

            @media #{$s750} {
              font-size: 9.5vw;
            }
          }

          p {
            padding: 0.2rem 1.5rem 0;
          }
        }
      }
    }
  }

  #what-we-do {
    border-top: 1px solid $color-blue-1;
    .container {
      // padding-right: 0;
      .row {
        justify-content: space-between;
        align-items: center;
        @media #{$s750} {
          flex-direction: column;
        }
        &:not(:last-of-type) {
          margin-bottom: #{$spacer * 1.5};
        }
        .col {
          &:nth-child(1) {
            width: 33vw;
            @media #{$s750} {
              width: 100%;
            }
            h1 {
              margin-bottom: 1.5rem;
            }
          }
          &:nth-child(2) {
            width: 25vw;
            @media #{$s750} {
              width: 80%;
              margin: 3rem 0 $mobile-gutter;
            }

            img {
              width: 100%;
              margin: 0 auto;
            }
          }
        }

        &:nth-child(2) {
          .col {
            &:nth-child(2) {
              img {
                width: 80%;
              }
            }
          }
        }

        &:last-of-type {
          .col {
            &:nth-child(2) {
              margin-bottom: 0;

              @media #{$s750} {
                margin-top: 2rem;
              }
            }
          }
        }
      }
    }
  }

  #recent-investments {
    border-top: 1px solid $color-blue-1;
    position: relative;
    @media #{$s750} {
      width: 100%;
      overflow: hidden;
      border-top: none;

      > p {
        padding-top: 0.5rem;
        width: calc(100% - 2rem);
        border-top: 1px solid $color-blue-1;
        margin: 0 auto;
      }
      .container {
        padding-top: 0;

        @media #{$s750} {
          padding-right: 3rem;
          padding-bottom: 6rem;
        }
      }
    }
    .row {
      justify-content: space-between;
      @media #{$s750} {
        display: flex;
        padding: 2rem 2rem 1rem;
      }
      .col {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
        width: calc(100% / 4 - 1.5rem);
        padding: 0 0 1rem;
        border-radius: 15px;
        padding: 1rem;
        @media #{$s750} {
          width: 250px;
          flex-shrink: 0;
          margin-right: 1rem;
        }
        h3 {
          margin: 2rem 0 0.2rem;
          @extend h2;
          color: $color-blue-2;
        }
      }
    }
  }

  #about {
    width: 100%;
    padding: 0 #{$gutter / 2} #{$gutter / 2};
    text-align: center;
    @media #{$s750} {
      padding: $mobile-spacer 0 0;
    }
    .container {
      @media #{$s750} {
        padding: 0;
      }
      > img {
        min-width: 32px;
      }
      > h2 {
        padding: 1.5rem 5em 0;
        @media #{$s750} {
          padding: 1rem $mobile-gutter 0;
        }
      }
      > .separator {
        width: 8vw;
        height: 1px;
        background: #fff;
        margin: 2rem auto;
        @media #{$s750} {
          width: 40vw;
        }
      }
      > .subtitle {
        margin-bottom: 0.2rem;
      }
      .row {
        background: #1a2765;
        padding: #{$gutter / 2};
        text-align: left;
        justify-content: space-between;
        align-items: center;
        margin-top: #{$gutter};
        border-radius: 15px;
        @media #{$s750} {
          flex-direction: column;
          border-radius: 0;
          width: 100%;
          padding: $mobile-gutter 1rem $mobile-spacer;
          margin-top: $mobile-gutter * 2;
        }
        .col {
          &:nth-child(1) {
            width: 20vw;
            @media #{$s750} {
              width: 100%;
              text-align: center;
              margin-bottom: #{$mobile-gutter};
            }
          }
          &:nth-child(2) {
            width: 47vw;
            @media #{$s750} {
              width: 100%;
            }
            p {
              &:not(:last-of-type) {
                margin-bottom: 1em;
              }
            }
          }
        }
      }
    }
  }

  #resources {
    padding-top: $spacer;
    @media #{$s750} {
      width: 100%;
      overflow: hidden;
      border-top: none;
      padding-top: 4rem;

      > p {
        padding-top: 0.5rem;
        width: calc(100% - 2rem);
        border-top: 1px solid $color-blue-1;
        margin: 0 auto;
      }
      .container {
        padding-top: 0;

        @media #{$s750} {
          padding-right: 3rem;
          padding-bottom: 6rem;
        }
      }
    }

    > .subtitle {
      padding-top: 0.5rem;
      border-top: 1px solid $color-blue-1;
    }
    .container {
      .row {
        justify-content: space-between;
        @media #{$s750} {
          display: flex;
          padding: 2rem 2rem 1rem;
        }
        .col {
          position: relative;
          width: calc(100% / 3 - 1.5rem);
          padding: 4rem 3rem;
          border-radius: 15px;
          background-color: $color-blue-2;
          overflow: hidden;
          cursor: pointer;
          @media #{$s750} {
            width: 100%;
            flex-shrink: 0;
            margin-right: 1rem;
            padding: 3rem;
          }
          > img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
            @media #{$s750} {
              opacity: 0.2;
            }
          }
          h2,
          p {
            color: #fff;
            position: relative;
          }
          h2 {
            font-size: 2.5vw;
            margin-bottom: auto;
            padding-bottom: 4rem;
            @media #{$s750} {
              overflow-x: auto;
              padding: 0 0 2rem 0;
              font-size: 6.12vw;
            }
          }
          p {
            display: flex;
            text-align: center;
            img {
              width: 16px;
              margin-left: 1em;
              transition: transform 0.2s ease-in-out;
            }
          }

          &:hover {
            > img {
              opacity: 0.2;
            }
            p {
              img {
                transform: translateX(5px);
              }
            }
          }
        }
      }
    }
  }

  #privacy {
    padding: calc(#{$mobile-spacer} + 70px) $mobile-gutter $mobile-spacer;
    max-width: 1200px;
    margin: 0 auto;
    @media #{$s750} {
      padding-top: $mobile-spacer;
      width: 100%;
    }
    h1 {
      text-align: center;
      margin-bottom: 2rem;
    }
    ul {
      padding-left: 20px;
      margin: 1rem 0;
    }

    p {
      &:not(:last-child) {
        margin: 0 0 1em;
      }
    }
  }
}
footer {
  padding: #{$gutter / 2};
  font-size: 14px;
  @media #{$s750} {
    padding: $mobile-gutter 0;
  }
  .row {
    padding: 0 #{$gutter / 2};
    @media #{$s750} {
      flex-direction: column;
      text-align: center;
      padding: 0 1rem;
    }
    p {
      &.white {
        margin-bottom: 0.5rem;
        + a {
          text-decoration: underline;
        }
      }
      &:not(.white) {
        opacity: 0.7;
      }

      &.copyright {
        font-size: 12px;
        text-align: left;
      }
    }
    &:nth-child(1) {
      border-bottom: 1px solid #fff;
      margin-bottom: 2rem;
      padding-bottom: 2rem;
      align-items: center;

      .col {
        margin-right: 2rem;
        @media #{$s750} {
          margin-right: 0;
          &:not(:last-child) {
            margin-bottom: 1rem;
          }
        }
        &:nth-child(1) {
          width: 14.375vw;
          padding-right: 2rem;
          border-right: 1px solid #fff;
          min-width: 170px;
          @media #{$s750} {
            border-right: none;
            padding-right: 0;
            margin-bottom: 3rem;
          }
        }
      }
    }

    &:nth-child(2) {
      .col {
        &:nth-child(1) {
          width: 56vw;
          margin-right: auto;
          padding-right: 2rem;
          @media #{$s750} {
            width: 100%;
            margin-bottom: 1rem;
            padding-right: 0;
          }
        }
        a {
          opacity: 0.7;
          &.privacy {
            margin-top: 0.5rem;
          }
        }
      }
    }
  }
}
/*	-----------------------------------------------------------------------------
  BLOG
--------------------------------------------------------------------------------- */

.single_story_wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 101;
  height: 100vh;
  background-color: rgba(0, 3, 15, 0.9);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s 0.6s ease-in-out;

  .single_story_content {
    background-color: #fff;
    width: 0%;
    max-width: 85%;
    margin-left: auto;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    transition: width 0.4s 0.2s ease-in-out;
    @media #{$s750} {
      max-width: 100%;
    }

    .single_story_hero {
      position: relative;
      padding-top: 37%;
      overflow: hidden;
      opacity: 0;
      transition: opacity 0.2s 0s ease-in-out;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        background: rgba(54, 91, 193, 0.85);
        z-index: 2;
      }

      @media #{$s1100} {
        padding-top: 49%;
      }

      @media #{$s750} {
        padding-top: 70vh;
      }

      .main_category {
        position: absolute;
        left: 20px;
        top: 30px;
        color: #fff;
        letter-spacing: 0.27px;
        font-size: 1vw;
        text-transform: uppercase;
        font-family: "pragmatica";
        font-display: auto;
        font-style: normal;
        font-weight: 400;
        z-index: 3;

        @media #{$s750} {
          font-size: 12px;
        }
      }

      .close_popup {
        position: absolute;
        cursor: pointer;
        right: 20px;
        top: 20px;
        @include transition();
        z-index: 3;

        @media #{$s1020} {
          max-width: 20px;

          img {
            width: 100%;
          }
        }

        @media #{$s750} {
          top: 25px;
          max-width: 25px;
        }

        &:hover {
          opacity: 0.5;
        }
      }

      .cover_image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }

      .hero_content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        width: 100%;
        padding: 0 6vw;
        box-sizing: border-box;
        z-index: 3;

        @media #{$s750} {
          flex-wrap: wrap;
        }

        .left {
          width: 85%;

          @media #{$s750} {
            width: 100%;
            text-align: center;
            margin-bottom: 2rem;
          }

          .category {
            background: #fff;
            text-align: center;
            border-radius: 100px;
            display: inline-block;
            padding: 0.5em 1em;
            box-sizing: border-box;
            margin-bottom: 2vw;
            color: $color6;
            font-size: 14px;
            font-family: "pragmatica";
            font-display: auto;
            font-style: normal;
            font-weight: 400;
          }

          h1 {
            color: #fff;
          }
        }

        .right {
          width: 15%;
          display: flex;
          justify-content: flex-end;

          @media #{$s750} {
            width: 100%;
            justify-content: center;
          }

          .social {
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: flex-end;

            @media #{$s750} {
              flex-direction: row;
              justify-content: center;
              flex-wrap: wrap;
            }

            span {
              display: inline-block;
              margin-bottom: 30px;
              color: #fff;
              letter-spacing: 0.27px;
              font-size: 1vw;
              font-family: "pragmatica";
              font-display: auto;
              font-style: normal;
              font-weight: 400;

              @media #{$s1020} {
                margin-bottom: 10px;
                font-size: 11px;
              }

              @media #{$s750} {
                width: 100%;
                margin-bottom: 15px;
              }
            }

            a {
              display: flex;
              position: relative;
              margin-bottom: 15px;
              @include transition();

              @media #{$s750} {
                margin: 0 0.25rem;
              }
              &:last-child {
                margin-bottom: 0px;
              }

              img {
                width: 3.5vw;

                @media #{$s750} {
                  width: 45px;
                }

                &.hover_icon {
                  position: absolute;
                  opacity: 0;
                  top: 0;
                  left: 0;
                  z-index: 2;
                  @include transition();
                }
              }

              &:hover {
                img {
                  &.hover_icon {
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }
    }

    .story_content {
      padding: $spacer $gutter;
      box-sizing: border-box;
      opacity: 0;
      transition: opacity 0.2s 0s ease-in-out;

      img {
        width: 100%;
        margin: 2em 0;

        &.half-size {
          width: 50%;
          @media #{$s750} {
            width: 100%;
          }
        }
      }
      @media #{$s750} {
        padding: $mobile-gutter 1rem;
      }

      p {
        margin: 0.5em 0;
      }

      h2,
      h3,
      h4,
      h5,
      h6 {
        color: $color-blue-2;
        margin-bottom: 1vw;
        margin-top: 3vw;

        @media #{$s1020} {
          font-size: 20px;
        }

        @media #{$s750} {
          margin-top: 30px;
          margin-bottom: 10px;
        }
      }

      .story_first_section {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #c9cad0;
        padding-bottom: 4vw;

        @media #{$s750} {
          padding-bottom: 30px;
        }

        .left {
          width: 60%;

          @media #{$s1020} {
            width: 100%;
            margin-bottom: 20px;
          }

          .image_holder {
            position: relative;
            overflow: hidden;
            padding-top: 69%;

            img {
              position: absolute;
              border-radius: 20px;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }

        .right {
          width: 40%;
          padding-left: 6vw;
          box-sizing: border-box;
          display: flex;
          align-items: center;

          @media #{$s1020} {
            width: 100%;
            padding-left: 0px;
          }
        }
      }

      .story_second_section {
        box-sizing: border-box;

        h4 {
          margin-top: 5vw;
          font-size: 2.5vw;
          color: $color1;

          @media #{$s1020} {
            font-size: 24px;
          }

          @media #{$s750} {
            margin-top: 40px;
          }
        }

        .related_news {
          border-top: 1px solid #c9cad0;
          margin-top: 5vw;

          @media #{$s750} {
            margin-top: 40px;
          }

          .news_wrap {
            display: flex;
            justify-content: space-between;
            @media #{$s750} {
              flex-direction: column;
            }
            .single_news_wrap {
              position: relative;
              width: calc(100% / 2 - 1rem);
              padding: 4rem 3rem;
              border-radius: 15px;
              background-color: $color-blue-2;
              overflow: hidden;
              cursor: pointer;
              display: flex;
              align-items: center;
              @media #{$s750} {
                width: 100%;
                padding: 3rem;

                &:nth-child(1) {
                  margin-bottom: 1rem;
                }
              }

              .single_news {
                > img {
                  position: absolute;
                  left: 0;
                  top: 0;
                  margin: 0;
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  opacity: 0;
                  transition: opacity 0.2s ease-in-out;
                  @media #{$s750} {
                    opacity: 0.2;
                  }
                }
              }
              h3,
              p {
                color: #fff;
                position: relative;
              }
              h3 {
                font-size: 2.5vw;
                margin: 0;
                @media #{$s750} {
                  font-size: 6.12vw;
                }
              }
              p {
                display: flex;
                text-align: center;
                img {
                  width: 16px;
                  margin-left: 0.2em;
                }
              }
              .category_wrap {
                display: none;
              }

              &:hover {
                .single_news {
                  > img {
                    opacity: 0.2;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &.active {
    opacity: 1;
    pointer-events: initial;
    transition: opacity 0.2s 0s ease-in-out;

    .single_story_content {
      width: 100%;
      transition: width 0.4s ease-in-out;

      .single_story_hero {
        opacity: 1;
        transition: opacity 0.2s 0.4s ease-in-out;
      }
      .story_content {
        opacity: 1;
        transition: opacity 0.2s 0.4s ease-in-out;
      }
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  align-items: center;
  justify-content: center;
  align-self: center;
  background: $color-blue-2;
  padding: 0.5rem;
  border-radius: 15px;
  left: 50%;
  bottom: 2rem;
  margin: auto;
  display: none;
  transition: opacity 0.2s ease-in-out;
  @media #{$s750} {
    display: flex;
  }

  &.swiper-button-disabled {
    opacity: 0.5;
  }
  img {
    width: 80%;
  }
}

.swiper-button-next {
  transform: translate(0.5rem);
}
.swiper-button-prev {
  transform: translate(calc(-100% - 0.5rem)) rotate(180deg);
}
